<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Meal Picker: Meat</title>
  </head>
  <body>
   <h1>Suggestions for Meals with Meat</h1>
   <p>1. Breakfast Sandwich
      2. Omlette
      3. 
      4. Pizza
      5. Grilled Steak or Chicken Sandwich
      6. Burger
      7. Grilled Steak or Chicken
      8. Mexican Meal
      9. 
      </p>
   
   
  </body>
</html>