<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Meal Picker: Seafood</title>
  </head>
  <body>
   <h1>Suggestions for Pescatarian Meals </h1>
   <p> 1. Breakfast Sandwich
       2. Steamed Fish
       3. Grilled Fish
       4. Seafood Pasta
       5. Seafood Salad
   </p>
  </body>
</html>