<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Meal Picker: Vegan</title>
  </head>
  <body>
   <h1>Suggestions for Vegan Meals </h1>
   <p> 1. Breakfast Sandwich
       2. Breakfast Bakery Item
       3. Fruit Smoothie
       4. Oatmeal
       5. Pizza
       6. Salad
       7. Vegan Bowl
       8. </p>
   
   
  </body>
</html>